:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background: linear-gradient(135deg, #0551A3 0%,#2db2eb 100%); */
  background: #171515;
  background-blend-mode: normal;
}